---
// Component Imports

import { motion } from "framer-motion";

import Divider from "../../../components/Divider.astro";

import { Picture } from "astro:assets";

import Layout from "../../../layouts/Layout.astro";

// Images
import portImageTa from "../../../images/portfolio/dev/port-web-ta.png";
import portImageTaApp from "../../../images/portfolio/dev/port-web-ta-app.png";
---

<Layout
  title="TextAnywhere"
  subTitle="Designing, coding and maintaining web-based online applications, blogs, marketing websites. "
  hasHeaderImg={true}
  variant="vertical"
  headerImgSrc={portImageTa}>
  <motion.section
    client:load
    className="section-is-large"
    initial={{ opacity: 0, x: -30 }}
    whileInView={{ opacity: 1, x: 0 }}
    viewport={{ once: true }}
    transition={{ delay: 0.5, duration: 0.5 }}>
    <div class="columns">
      <div class="column">
        <Picture
          class="box"
          src={portImageTaApp}
          alt="Mypinpad website screenshot"
        />
      </div>
      <div class="column content">
        <h2 class="title is-2">UI design and development</h2>
        <p>
          Design and development of Apps and websites over a 13 year period.
        </p>
        <ul>
          <li>UI design of web app with 1000s of daily users.</li>
          <li>
            Branding and design of TextAnywhere of marketing websites, blogs and
            email campaigns.
          </li>
          <li>White label branded designs</li>
          <li>Constant UI/UX improvements over the period of the role.</li>
        </ul>
      </div>
    </div>
  </motion.section>

  <section>
    <Divider
      variant="subSection"
      heading="Role and Responsibilities"
    />
    <div class="content">
      <ul>
        <li>
          Designed and coded TextAnywhere's web application UI and marketing
          websites visited daily by 1000's of users.
        </li>

        <li>
          Created custom responsive WordPress themes for multiple
          TextAnywhere/GreenText blogs.
        </li>
        <li>
          Designed and coded various email campaigns, sent to over 15,000
          customers.
        </li>
        <li>
          Wireframed and prototyped various projects using Figma/Adobe XD.
        </li>
        <li>
          Designed various marketing materials, including product brochure PDFs.
        </li>
        <li>Created new company logo and brand colours.</li>

        <li>
          Created 'White Label' branded versions of the TA application for 20+
          businesses, liaising with clients and following brand guidelines.
        </li>
        <li>
          Adhered to web standards, compatibility and best practice when
          designing websites.
        </li>
        <li>
          Worked closely in conjunction with the development team, checking
          design and UI consistency.
        </li>

        <li>
          Setup and implemented Google Analytics. Setup reports and analysed GA
          data to improve website usability and performance.
        </li>
      </ul>
    </div>
  </section>
</Layout>

<style>
  @media screen and (max-width: 769px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }

  section {
    margin-bottom: 6rem;
    margin-top: 10rem;
  }

  .example-container div {
    background: red;
    border-radius: 30px;
    width: 150px;
    height: 150px;
  }
</style>
