---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About"
  subTitle="20 years designing and developing web applications,  marketing websites and blogs in multiple industries. "
  hasHeaderImg={true}
  variant="Hori">
  <section>
    <div class="content">
      <p>
        As a seasoned UI developer, I bring over two decades of experience in
        crafting digital experiences and driving impactful design initiatives.
        My journey in the realm of web development has been marked by a diverse
        array of responsibilities and achievements, all geared towards elevating
        user experiences and achieving business objectives.
      </p>
      <p>
        Collaborating closely with product and development teams, I actively
        contribute to the strategic planning and implementation of new features,
        leveraging my keen eye for detail and understanding of user needs.
      </p>
      <p>
        Leveraging my expertise in UI design, my React development experience
        has empowered me to transform UI designs and prototypes into
        fully-functional React web components. Furthermore, harnessing the power
        of Storybook for building, testing, and documenting a library of UI
        components.
      </p>

      <p>
        My proficiency in tools like Figma has allowed me to wireframe,
        prototype, and implement innovative UI solutions for diverse audiences,
        shaping the visual identity of various web applications and marketing
        websites. Creating fully-fledged, scaleable design systems as part of a
        consistent, efficient collaboration process.
      </p>

      <p>
        Beyond design execution, I am committed to continuous improvement,
        constantly seeking opportunities to enhance existing UI/UX frameworks
        and drive innovation. Whether liaising with marketing and branding
        agencies or collaborating with cross-functional teams, I prioritise
        effective communication and stakeholder alignment to ensure project
        success.
      </p>

      <p>
        Throughout my career, I have remained steadfast in my adherence to web
        standards, compatibility, and best practices, delivering websites
        optimised for performance, accessibility, and security. By leveraging
        tools like Google Analytics, I delve into user data to glean insights
        and refine strategies, thereby enhancing website usability and driving
        superior user engagement.
      </p>

      <p>
        From crafting bespoke web applications for TextAnywhere, mypinpad and
        ubisend to creating blogs and marketing websites, my portfolio is
        testament to my passion for creating impactful digital experiences. With
        a relentless pursuit of excellence and a commitment to fostering
        collaborative partnerships, I am poised to drive transformative outcomes
        in the ever-evolving landscape of digital design and development.
      </p>
    </div>
  </section>
</Layout>

<style>
  @media screen and (max-width: 769px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }

  section {
    margin-bottom: 6rem;
  }
</style>
