---
interface Props {
  sectionNumber?: string;
  variant: string;
  heading: string;
}

const { sectionNumber, heading, variant } = Astro.props;
---

<div class="container">
  <span>{sectionNumber}</span>
  {variant === "section" ? <h2>{heading}</h2> : <h3>{heading}</h3>}
</div>

<style>
  .container {
    border-bottom: 3px solid #333;

    span {
      font-size: 1.5rem;
    }
    h2 {
      margin: 0;
      font-size: 3rem;
    }
    h3 {
      margin: 0;
      font-size: 2rem;
    }
  }
</style>
