---
import Navigation from "./Navigation.astro";
import Hero from "./Hero.astro";

const { title, subTitle, headerImgSrc, variant } = Astro.props;
---

<header>
  <nav>
    <Navigation />
  </nav>
  <Hero
    title={title}
    subTitle={subTitle}
    variant={variant}
    headerImgSrc={headerImgSrc}
  />
</header>
