---
import { Image } from "astro:assets";
import logo from "../../src/images/logo.svg";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="nav-container">
  <Image
    src={logo}
    alt="logo"
  />
  <div class="nav-links">
    <a
      href="/"
      class={currentPath === "" ? "active" : ""}
      >Home</a
    >
    <a
      href="/about"
      class={currentPath === "about" ? "active" : ""}
      >About</a
    >
    <a
      href="/portfolio"
      class={currentPath === "portfolio" ? "active" : ""}
      >Portfolio</a
    >
  </div>
</div>

<style>
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 4px solid var(--primary);
    border-top: 1px solid var(--primary);
    position: fixed;
    width: 100%;
    z-index: 50;
    background-color: rgba(242, 242, 234, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
      brightness(140%);
  }

  .nav-links a {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
    margin-right: 1.5rem;
  }

  .nav-links a.active,
  .nav-links a:hover {
    color: var(--secondary);
  }
</style>
