---
// Component Imports
import Hero3d from "../../components/Hero3d.jsx";

import { Picture } from "astro:assets";

import Layout from "../../layouts/Layout.astro";

import portImageUbi from "../../images/port-web-ubi.png";
import portImageUbiComps from "../../images/port-web-ubi-comps.png";
import portImageUbiUi from "../../images/port-web-ubi-ui.png";
---

<Layout
  title="ubisend "
  subTitle="Crafting seamless UX through user-centric design, implementing robust design systems, and core UI changes with major redesigns..."
  hasHeaderImg={true}
  variant="Hori"
  headerImgSrc={portImageUbi}>
  <section class="section-is-large mb-6 pb-6">
    <div class="columns">
      <div class="column">
        <Picture
          class="box py-6"
          src={portImageUbiComps}
          alt="ubisend"
        />
      </div>
      <div class="column content">
        <h2 class="title is-2">Figma design system</h2>
        <p>
          One of the first tasks I undertook as Ubsiend was to implement a figma
          design system using their existing React components.
        </p>
        <ul>
          <li>32 reusable components with variations</li>
          <li>Typography, Colour and Icon linked libraries</li>
          <li>Advanced, usable prototypes</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-is-large">
    <div class="columns reverse-columns">
      <div class="column content">
        <h2 class="title is-2">Complete redesign of Workflow builder</h2>
        <p>
          Another task involved a major visual and functional overhaul the
          workflow builder.
        </p>
        <ul>
          <li>WCAG Accessibility</li>
          <li>Complete UI rework</li>
          <li>Refined UX flow</li>
        </ul>
      </div>
      <div class="column">
        <Picture
          class="box"
          src={portImageUbiUi}
          alt="ubisend"
        />
      </div>
    </div>
  </section>
</Layout>

<style>
  @media screen and (max-width: 769px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }
</style>
